<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link rel="icon" href="assets/images/logo.png">
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href='index.html'><h1 class="header">{{ site.title | default: site.github.repository_name }}</h1></a>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        </p>
      <h1 class="header">Open:</h1>
      <table style="width:auto">
        <tr>
          <td style="padding-right:10px">Mon - Thur:</td>
          <td align="center">8:00 - 17:30</td>
        </tr>
        <tr>
          <td>Fri:</td>
          <td align="center">8:00 - 17:00</td>
        </tr>
        <tr>
          <td>Sat:</td>
          <td align="center">8:00 - 12:00</td>
        </tr>
      </table>

        <h1 class="header">Contact:</h1>
        <p>
        
          <address class="vcard">
  <div class="adr">
    <a href = "map.html"><div class="street-address">Kilcreggan Garage <br>Shore Road</div>
    <div class="locality">Kilcreggan</div>
    <div class="postal-code">G84 0JJ</div >
      <div class="country-name">Scotland</div >
    </a>
  </div><br>
              <div class="tel">Tel: <a href="tel:+44 1436 842898">01436 842898</a></div>
              <div class="email"><a href="mailto:kilcreggangarage@btconnect.com">kilcreggangarage@btconnect.com</a></div>
  </address>
          
        </p>

      </header>
      <section>
        <img align="center", style="width:100%" src="assets/images/logo.png?raw=true" alt="Kilcregan Garage">
        <table style="width:100%">
        <tr>
          <th><a href = "index.html">Home</a></th>
          <th><a href = "gallery.html">Gallery<a/></th> 
          <th><a href = "map.html">Map</a></th>
        </tr>
        </table>
        {{ content }}
        <img align="center" src="assets/images/acreditation.png?raw=true" alt="Acredited by the DVLA, AUTOCOM profesional diagnostics">
      </section>

      <footer>
        Based on the <a href="https://github.com/pages-themes/dinky">dinky</a> theme.
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
